.body {
  padding: 0;
  margin: 0;
}
.header {
  background-image: url(Home.png);
  background-size: 100%;
  display: block;
}
.header__main{
  padding: 30px 210px;
}
.header-logo {
  color: white;
  font-size: 22px;
}
.header__main ul {
  float: right;
  margin: 0;
}
.header-menu li  {
  padding-top: 10px;
  padding-left: 40px;
  display: inline-block;
  font-size: 12px;
}
.header-menu a {
  color: white;
}
.header-menu a:hover {
  color: white;
}
.text-header {
  color: white;
  text-align: center;
  padding-top: 190px;
  padding-bottom: 225px;
}
.text-header h1 {
  text-transform: uppercase;
  font-size: 44px;
}
.text-header p {
  text-transform: capitalize;
  margin: 20px 0 35px;
  font-size: 19px;
}
.button {
  border: 1px solid white;
  background-color: transparent;
  padding: 10px 30px;
  font-size: 15px;
  text-transform: uppercase;
}

.page-block {
  color:#555555;
  text-align: center;
}
.page-block .short-line {
  margin: 28px 545px;
  border: 1px solid #555555;
}
.page-block h2 {
  font-size: 19px;
  text-transform: uppercase;
  padding-top: 100px;
}
.page-block h3 {
  font-size: 12px;
  text-transform: uppercase;
}
.page-block p {
  font-size: 16px;
}
.services .row {
  margin-top: 60px;
  margin-bottom: 60px;
}
.circle {
    position: relative;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border: 1px solid #E3E3E3;
    color: #C03228;
}

.circle_red{
  color: white;
  background-color: #C03228;
}
.circle span {
    position: absolute;
    font-size: 55px;
    left: 28px;
    top: 8px;
}
.circle .fa-code {
  position: absolute;
    font-size: 50px;
    top: 18px;
    left: 20px;
}
.circle .fa-life-ring {
  position: absolute;
  font-size: 50px;
  top: 20px;
  left: 20px;
}
.grey {
  background-color: #F8F8F8;
}
.about-us .top-row {
  padding-top: 50px;
  padding-bottom: 20px;
}
.about-us .col-md-6 {
  text-align: justify;
}
.about-us .col-md-3 {
  text-align: center;
}
.about-us .bottom-row {
  padding-bottom: 100px;
}
.latest-works ul {

}
.latest-works li  {
  padding: 10px 30px 10px 0;
display: inline-block;
font-size: 16px;
}
.latest-works li a {
  text-decoration: none;
  color: #555555;
}
.latest-works li a:hover{
  color: #C03228;
}
.photo-works {
  margin: 70px 0 80px;
}
.latest-works .row {
  margin-bottom: 20px;
}
.page-block-photo {
  background-image: url(Home2.png);
  background-size: 100%;
  display: block;
}
.photo-text h1 {
    line-height: 1.3em;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 35px;
}
.photo-text {
  color: white;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 80px;
}
.post {
  clear:both;
}
.post img{
  float: left;
}
.post-content{
  margin-left: 500px;
  text-align: left;
}
.post h2 {
  display: inline-block;
  padding: 0;
}
.post p {
  margin-bottom: 20px;
}
.post a {
  font-size: 14px;
  text-transform: uppercase;;
  text-decoration: none;
  color: #555555;
}
.post a:focus, .post a:hover {
    color: #C33F2D;
    text-decoration: none;
  }
.date {
  float:left;
  font-size: 24px;
  display: inline-block;
  padding: 0px 20px;
  border: 2px solid black;
}
.date p {
  padding: 0;
  margin: 10px 0;
}
.logo {
  margin: 90px 0;
}
 .logo img {
   margin: 0 20px 60px;
 }
 .logo p {
   margin: 30px 200px;
 }
 .logo .signature {
   font-size: 20px;
 }
 .logo .circle {
   width: 16px;
   height: 16px;
   border-radius: 8px;
   border-color: #D8D8D8;
   border-width: 8px;
   display: inline-block;
 }
.contacts {
    margin: 40px;
    display: inline-block;
}
.item {
  position: relative;
}
.icon {
    position: absolute;
    left: -40px;
}
.row {
  width: 100%;
}
.red{
  background-color: #C03228;
}
.footer {
  padding: 80px 0;
}
.footer .circle-small {
      display: inline-block;
      position: relative;
      margin: 0 5px;
      width: 35px;
      height: 35px;
      border-radius: 20px;
      border: 2px solid #ffffff;
      color: #ffffff;
  }
.footer p {
  color: #ffffff;
}
.footer hr {
  margin: 28px 545px;
  border: 1px solid #ffffff;
}
.circle-small .fa-facebook{
  position: absolute;
  left: 12px;
  top: 9px;
}
.circle-small .fa-vk,
.circle-small .fa-google,
.circle-small .fa-twitter {
  position: absolute;
  left: 9px;
  top: 9px;
}
