.body {
  padding: 0;
  margin: 0;
}
.header {
  background-image: url(Home.png);
  background-size: 100%;
  display: block;
}
.header__main{
  padding: 30px 210px;
}
.header-logo {
  color: white;
  font-size: 22px;
}
.header__main ul {
  float: right;
  margin: 0;
}
.header-menu li  {
  padding-top: 10px;
  padding-left: 40px;
  display: inline-block;
  font-size: 12px;
}
.header-menu a {
  color: white;
}
.header-menu a:hover {
  color: white;
}
.text-header {
  color: white;
  text-align: center;
  padding-top: 190px;
  padding-bottom: 225px;
}
.text-header h1 {
  text-transform: uppercase;
  font-size: 44px;
}
.text-header p {
  text-transform: capitalize;
  margin: 20px 0 35px;
  font-size: 19px;
}
.header-button {
  border: 1px solid white;
  background-color: transparent;
  padding: 10px 30px;
  font-size: 15px;
  text-transform: uppercase;
}
.page-block {
  color:#555555;
  text-align: center;
}
.page-block hr {
  margin: 28px 545px;
  border: 1px solid #555555;
}
.page-block h2 {
  font-size: 19px;
  text-transform: uppercase;
  padding-top: 100px;
}
.page-block h3 {
  font-size: 12px;
  text-transform: uppercase;
}
.page-block p {
  font-size: 16px;
}
.services .row {
  margin-top: 60px;
  margin-bottom: 60px;
}
.circle {
    position: relative;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 545px;
    border: 1px solid #E3E3E3;
    color: #C03228;
}

.circle_red{
  color: white;
  background-color: #C03228;ç
}
.circle span {
    position: absolute;
    font-size: 55px;
    left: 28px;
    top: 8px;
}
.circle .fa-code {
  position: absolute;
    font-size: 50px;
    top: 18px;
    left: 20px;
}
.circle .fa-life-ring {
  position: absolute;
  font-size: 50px;
  top: 20px;
  left: 20px;
}
.grey {
  background-color: #F8F8F8;
}
.about-us .col-md-6 {
  text-align: justify;
}
.about-us .col-md-3 {
  text-align: center;
}
.about-us .bottom-row {
  padding-bottom: 100px;
}
.latest-works ul {
  text-decoration: none;
  margin: 0 auto;
}
.latest-works li  {
  padding: 10px 10px;
  display: inline-block;
  font-size: 12px;
}
