.bodypage {
  margin: 40px 60px;
}
.form {
  display: inline-block;
}
.bodypage a {
  color: #4BB5EB;
}
.header__logo {

}
.text-sales {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.text-point {
  font-size: 22px;
  color: #4BB5EB;
  text-transform: capitalize;
}
.logo-text {
  text-transform: capitalize;
}
.header__logo__text {
  display: inline-block;
  line-height: 1.1;

}
.header__text {
  text-align: right;
}
.selectlanguage {
  padding: 10px;
  float: right;
  width: 80%;
  color: #ffffff;
  background: linear-gradient(to top, #293436, #576C71);
  border-radius: 5px;
}
.mainmenu {
  background: linear-gradient(to top, #F2F2F2, #ffffff);
  border:1px solid #DADADA;
  border-radius: 5px;
  color: #DADADA;
  text-transform: capitalize;
  padding: 20px 0;
  margin: 10px 0;
}
.mainmenu a {
  color: #273335;
  padding: 40px 60px;
}
.mainmenu a:active {
  color: #4BB5EB;
}
.mainmenu .form {
  float: right;;
  padding-right: 30px;
}
.mainmenu input[type="submit"] {
    width: 20px;
    height: 20px;
    border: none;
    background-color: #4BB5EB;
    position: relative;
   }
.mainmenu .fa-search {
  position: absolute;
  color: #ffffff;
}
.sidebar {
  border-radius: 0 5px 5px 0;
  display: inline-block;
  width: 30%;
  list-style: none;
  padding: 0;
  clear:both;
}
.sidebar .circle {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #DADADA;
  color: #4BB5EB;
  background: linear-gradient(to top, #F2F2F2, #ffffff);
}
.sidebar .circle .fa {
  position: absolute;
  left: 7px;
    top: 1px;
}
.sidebar a {
  padding-left: 10px;
  text-transform: capitalize;
  font-size: 19px;
  color: #273335;
}
.sidebar li {
  padding: 25px;
  background: linear-gradient(to top, #F2F2F2, #ffffff);
}
.offers {
  padding: 10px;
  border: 1px solid #DADADA;
  border-radius: 5px;
  background-color: #F2F2F2;
  margin-bottom: 30px;
}
.offers__image {
  border-radius: 0 5px 5px 0;
  min-height: 375px;
  position: relative;
  float: right;
  clear: both;
  width: 70%;
  background: radial-gradient(at top center, #B1D9E1 10%, #273335 90%);
}
.offers__image p {
  color: #ffffff;
}
.offers__image img {
  position: absolute;
  left: 350px;
  top: 20px;
}
.offers__image__text {
  padding: 100px 0 0 60px;
}
.offers__image__text .t1{
  font-size: 26px;
  font-weight: bold;
  line-height: 1.1;
}
.offers__image__text .t2 {
  line-height: 1.1;
  font-size: 20px;
}
.offers__image__text .t3 {
  font-size: 40px;
  font-weight: bold;
}
.sidebar-nav  {
  width: 30%;
  display: inline-block;
  padding: 0 10px;
}
.sidebar-nav ul {
  padding: 20px 0 0 0;
  list-style: none;
}
.sidebar-nav li {
  padding-left: 20px;
}
.sidebar-nav a {
  color: #273335;
}
.sidebar-nav hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.sidebar-nav .categories {
  padding: 10px 20px;
  border: 1px solid #CDCDCD;
  border-radius: 5px;
  background: linear-gradient(to top, #F2F2F2, #ffffff);

}
.triangle {
  border: 5px solid transparent;
  border-left: 5px solid #4BB5EB;
  display: inline-block;
}
.advert {
  margin: 40px 0;
  padding:  10px 0 0 30px;
  position: relative;
  width: 100%;
  height: 106px;
  color: #ffffff;
  border: 1px solid #273335;
  border-radius: 5px;
  background: radial-gradient(at top center, #B1D9E1 10%, #273335 90%);
}
.advert__image {
  position: absolute;
  left: 210px;
    top: -10px;
}
.advert p {
  line-height: 1.1;
  margin-bottom: 0;
  font-size: 20px;
}
.advert__price {
  margin-top: 10px;
  font-weight: bold;
}
.content {
      padding-left: 40px;
  vertical-align: top;
  width: 70%;
  display: inline-block;
}
.content .button-blue {
  background-color: #4BB5EB;
  color: #ffffff;
  border-radius: 5px;
}
.price {
  color: #4BB5EB;
}
