.body {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  background-color: #343434;
  margin: 0;
  padding: 0;
}
.header-main__icon {
  background-color: #EC6544;
  color: white;
  padding: 10px 30px;
  font-size: 30px;
  display: inline-block;
  position: relative;
}
.header-main__icon::after{
  content: '';
  border: 15px solid transparent;
  border-left: 15px solid  #EC6544;
  position: absolute;
  right: -30px;
}
.header-main__text {
  display: inline-block;
  color: white;
  font-size: 16px;
}
.container-header {
  background-color: #454545;
}
.container-header ul {
  display: inline-block;
  list-style-type: none;
}
.container-header li{
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
}
.socials {
  float: right;
  list-style-type: none;
}
.socials li {
  display: inline-block;
}
.bridge {
  width: 65%;
  display: inline-block;
  position: relative;
}
.bridge:: after {
  background-color: #EC6544;
  width: 2%;
  content: '';
  display: inline-block;
}
